@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
*{
    padding: 0;
     margin: 0;
     font-family: 'Barlow', sans-serif;
     overflow: hidden;
    
}
body{
    width: 1536px;
max-height: 100vh;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center center;
background-attachment: fixed;
}
.pagina{
display: flex;
vertical-align: baseline;
width: 100%;
height: 100%;
}
.social_masculino{ 
display: flex;
vertical-align: baseline;
padding-top: 100px;
padding-left: 390px;
width: 800px;
}

.frente{
    margin-right: 2%;
    width: 355.9px;
    height: 500px;
    visibility: visible;
}
.costas{
    margin-left: 2%;
    width: 355.9px;
    height: 500px;
    visibility: visible;
}
.frente1{
    position: absolute;
}
.frente2{
    position: absolute;
}
.frente3,.frente4,.frente5,.frente6{
    position: absolute;
    z-index: 10;
}
.drag{
  position: absolute;
  z-index: 12;
  width: 820px;
  height: 500px;
}
.uploader{
  position: absolute;
    width: 150px;
    height: 35px;
    margin-top: 580px;
    margin-left: 1300px;
    z-index: 1;
    text-align:center;
    border-top: 1px solid #19275c;
background: #630000;
background: -webkit-gradient(linear, left top, left bottom, from(#8b0000), to(#630000));
background: -webkit-linear-gradient(top, #8b0000, #630000);
background: -moz-linear-gradient(top, #8b0000, #630000);
background: -ms-linear-gradient(top, #8b0000, #630000);
background: -o-linear-gradient(top, #8b0000, #630000);
border-radius:10px ;
border-width: 2px ;
border-style: solid;
border-color: #19285C;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: white;
font-size: 20px;
font-family: Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align:middle;
padding-top: 10px;
}

.bolsofrente, .bolso23, .bolso{
    position: absolute;
    visibility: hidden;
    z-index: 9;
}
.costas1{
    position: absolute;
    padding-left: 30px;
}
.costas2{
    position: absolute;
    padding-left: 30px;
}
.costas3,.costas4,.costas5,.costaslonga{
    position: absolute;
    padding-left: 30px;
    z-index: 10;
}
.acabamentos{
    position: absolute;
    background-color: #EFEFEF;
    width: 300px;
    height: 520px;
    border-radius:10px ;
    border-width: 2px ;
    border-style: solid;
    border-color: #ff3535;
    margin-top: 50px;
    margin-left: 20px;
    z-index: 1;
}
.acabamentos h2{
    text-align: center;
    margin-top: 1%;
}

.delete{
    display: none;}
.download{
    position: absolute;
    background-color: #8B0000;
    width: 200px;
    height: 50px;
    border-radius:10px ;
    border-width: 2px ;
    border-style: solid;
    border-color: #19285C;
    color: #fff;
    margin-top: 580px;
    z-index: 1;
}

.download {
border-top: 1px solid #19275c;
background: #630000;
background: -webkit-gradient(linear, left top, left bottom, from(#8b0000), to(#630000));
background: -webkit-linear-gradient(top, #8b0000, #630000);
background: -moz-linear-gradient(top, #8b0000, #630000);
background: -ms-linear-gradient(top, #8b0000, #630000);
background: -o-linear-gradient(top, #8b0000, #630000);
padding: 11px 22px;
border-radius:10px ;
border-width: 2px ;
border-style: solid;
border-color: #19285C;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: white;
font-size: 20px;
font-family: Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
margin-left: 70px;
z-index: 1;
}
.download:hover , .uploader:hover {
background: #8b0000;
color: #ccc;
cursor: pointer;
}
.download:active, .uploader:active {
background: #1b435e;
}

.divisao{
    border-bottom: solid 1px;
    border-color:#919191 ;
}
.opcoes{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.optcontainer{
    display: flex;
vertical-align: baseline;
}
.opcoes input[type=radio], .optcolors input[type=radio] {
display: none;
}
.opcoes input[type=radio] + label span{
display: inline-block;
width: 30px;
height: 30px;
margin: -1px 5px 10px 0;
vertical-align: middle;
cursor: pointer;
border-radius: 50%;
border: 2px solid #ffffff;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
background-repeat: no-repeat;
background-position: center;
text-align: center;
line-height: 32px;
}
.optcolors input[type=radio] + label span {
display: inline-block;
width: 30px;
height: 30px;
margin: -1px 5px 10px 0;
vertical-align: middle;
cursor: pointer;
border-radius: 50%;
border: 2px solid #ffffff;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
background-repeat: no-repeat;
background-position: center;
text-align: center;
line-height: 32px;
}
.opcoes input[type=radio] + label span img, .optcolors input[type=radio] + label span img{
opacity: 0;
transition: all 0.3s ease;
}
.opcoes input[type=radio]#base + label span{
background-color: #fff;
}
.opcoes input[type=radio]#botoes + label span {
background-color: #fff;
}
.opcoes input[type=radio]#gola1 + label span {
background-color: #fff;
}
.opcoes input[type=radio]#gola2 + label span {
background-color: #fff;
}
.opcoes input[type=radio]#bolso + label span {
background-color: #fff;
}
.opcoes input[type=radio]#bolso1 + label span {
background-color: #fff;
}
.opcoes input[type=radio]#punho + label span {
background-color: #fff;
}
.opcoes input[type=radio]#vista + label span {
background-color: #fff;
}
.opcoes input[type=radio]#vista1 + label span {
background-color: #fff;
}

.opcoes input[type=radio]:checked + label span img{
opacity: 1;
}
.optcolors input[type=radio]#cor1 + label span{
    background-color:#fff ;
    }
    .optcolors input[type=radio]#cor2 + label span{
    background-color: #bfbcac;
    }
    .optcolors input[type=radio]#cor3 + label span{
    background-color: #bdad92;
    }
    .optcolors input[type=radio]#cor4 + label span{
    background-color: #b0bbb6;
    }
    .optcolors input[type=radio]#cor5 + label span{
    background-color:#9ea2a2 ;
    }
    .optcolors input[type=radio]#cor6 + label span{
    background-color:#90bdd8 ;
    }
    .optcolors input[type=radio]#cor7 + label span{
        background-color:#62a1cd ;
    }
    .optcolors input[type=radio]#cor8 + label span{
        background-color:#0091ba ;
    }
    .optcolors input[type=radio]#cor9 + label span{
        background-color: #3d474a;
    }
    .optcolors input[type=radio]#cor10 + label span{
        background-color:#fbf981 ;
    }
    .optcolors input[type=radio]#cor11 + label span{
    background-color: #224491;
    }
    .optcolors input[type=radio]#cor12 + label span{
    background-color:#346d7d ;
    }
    .optcolors input[type=radio]#cor13 + label span{
    background-color:#6d7774 ;
    }
    .optcolors input[type=radio]#cor14 + label span{
    background-color: #fe350a;
    }
    .optcolors input[type=radio]#cor15 + label span{
    background-color: #d13134;
    }
    .optcolors input[type=radio]#cor16 + label span{
    background-color: #782b44;
    }
    .optcolors input[type=radio]#cor17 + label span{
        background-color:#20222e ;
    }
    .optcolors input[type=radio]#cor18 + label span{
        background-color: #15131b;
    }
    .optcolors input[type=radio]#cor19 + label span{
        background-color: #00824e;
    }
    .optcolors input[type=radio]#cor20 + label span{
        background-color:#1f483b;
    }
    .optcolors input[type=radio]#cor21 + label span{
    background-color:#000 ;
    }
.switch, .switch2,.switch3 {
visibility: hidden;
position: absolute;
margin-left: -9999px;
}

.switch + label, .switch2 + label , .switch3 + label {
display: block;
position: relative;
cursor: pointer;
outline: none;
user-select: none;
}

.switch--shadow + label, .switch--shadow2 + label, .switch--shadow3 + label{
padding: 2px;
width: 50px;
height: 25px;
background-color: #dddddd;
border-radius: 25px;
}
.switch--shadow + label:before,
.switch--shadow + label:after ,.switch--shadow2 + label:before,
.switch--shadow2 + label:after,.switch--shadow3 + label:before,
.switch--shadow3 + label:after  {
display: block;
position: absolute;
top: 1px;
left: 1px;
bottom: 1px;
content: "";
}
.switch--shadow + label:before, .switch--shadow2 + label:before , .switch--shadow3 + label:before{
right: 1px;
background-color: #f1f1f1;
border-radius: 25px;
transition: background 0.4s;
}
.switch--shadow + label:after,.switch--shadow2 + label:after,.switch--shadow3 + label:after {
width: 25px;
background-color: #fff;
border-radius: 100%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.4s;
}
.switch--shadow:checked + label:before ,.switch--shadow3:checked + label:before{
background-color: #8ce196;
}
.switch--shadow:checked + label:after,
    .switch--shadow2:checked + label:after ,
    .switch--shadow3:checked + label:after  {
transform: translateX(25px);
}

.switch__container2{
    display: none;
}

.cores,.coresb,.coresGE, .coresGI,.coresP, .coresVE, .coresVD,.coresBF,.coresBB{
position: absolute;
display: flex;
    background-color: #EFEFEF;
    width: 300px;
    height: 500px;
    border-radius:10px ;
    border-width: 2px ;
    border-style: solid;
    border-color: #ff3535;
    margin-top: 60px;
   left:1220px;
   z-index: 20;
}
.cores h2,.coresb h2, .coresGE h2, .coresGI h2, .coresP h2, .coresVE h2, .coresVD h2, .coresBF h2,.coresBB h2{
    width: 100%;
    position: absolute;
    display:flex;
    justify-content:center ;
    text-align: center;
    margin-top: 1%;
}
.divisao1{
width: 99.4%;
left: 0.2%;
position: absolute;
padding-top: 30px;
border-bottom:1px solid #919191;
}
.optcolors{
    margin-top: 12%;
    width: 100%;
    margin-left: 10px; 
    overflow: auto;
  }

  .optcolors form{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .botaoacabamentos, .botaoacabamento, .botaoacabamento label, .botaoacabamento label svg{
    visibility: hidden;
  }

  .deletebase {
    display: none;
}
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #ff000d #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff000d;
    border-radius: 10px;
    border: 3px double #000000;
  }
.acabamentos{
        width: 200px;   
}
.download{
        margin-left: 22px;
}
.social_masculino{
    padding-left: 250px;
}
.costas {
    margin-left: -15px;
}
.cores, .coresb, .coresGE, .coresGI, .coresP, .coresVE, .coresVD, .coresBF, .coresBB {
    left: 1030px;
}
.uploader {
    margin-left: 1110px;
}
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Responsividade-------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
@media (max-width: 425px) {
    *{
        overflow:hidden;
    }

    .social_masculino{ 
        position: absolute;
        padding-left:40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 40px;
        width: 380px;        
        height: 510px;
    }
    .frente{
        margin:0;
        position: absolute;
        width: 360px;
        height: 500px;
        visibility: visible;
    }
    .costas{
        margin:0;
        position: absolute;
        width: 360px;
        height: 500px;
        visibility: hidden;
    }
    .costas1,.costas2,.costas3,.costas4,.costas5,.costaslonga{
        position: absolute;
        left:-30px;
        width: 360px;
    }
    .frente1,.frente2,.frente3,.frente4,.frente5,.frente6,.costas1,.costas2,.costas3,.costaslonga,.costas4,.costas5,svg,.imgbolso, .imgfrente, .imgcostas, .bolso{
        position: absolute;
        width: 360px;
        height: 470px;
    }

    .switch__container2{
        display: flex;
        position: absolute;
        left:145px;
        margin-top:540px;
        vertical-align: baseline;
        z-index: 13;
    }
    .drag{
        position: absolute;
        width: 360px !important;
        height: 500px !important;
        
    }
    .canvas-container,canvas, #list{
        position: absolute;
        width:360px !important;
        height: 500px !important;
    }
    .download{
        margin-top:570px;
        width: 120px;
        height: 35px;
        font-size: 15px;
        padding: 2px;
        left:-10px
    }
    .uploader{
        margin-top: 570px;
        width: 116px;
        height: 24px;
        font-size: 16px;
        padding-top: 7px;
        right: 10px;
    }
    .cores,.coresb,.coresGE, .coresGI,.coresP, .coresVE, .coresVD,.coresBF,.coresBB{
            visibility: hidden;
            width: 300px;
            height: 500px;
            left:115px;
            z-index: 22;
    }

    .optcolors{
        margin-top: 18%;
        width: 100%;
        margin-left: 20px; 
      }
    .optcolors form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
      }
    .acabamentos, .deletelabel, .deletelabel1, .deletelabel2, .deletelabel3,.deletelabel4 {
        display: none;
    }
    .deletebase{
        display: block;
    }
    .botaoacabamentos{
        visibility: visible;
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: #E9EAEC;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        top: 35px;
        left: 0;
        z-index: 22;
    }
    .botaoacabamento + label svg{
        visibility: visible;
        position: absolute;
        top:15%;
        left: 10%;
        width: 40px;
        height: 40px;
    }

    .acabamentos{
    width: 300px;
    height: 550px;
    z-index: 23;
    left: -10px;
    }
    .delete{
        display: block;
        position: absolute;
        right: 0;
        top:0;
        width: 20px;
        height: 20px;
    }
    .deletebase{
        position: absolute;
        top:0;
        left:0;
        width: 20px;
        height: 20px;
    }

   /*------------------------------------------------------------------------------------------------------*/
    .botaocores{
        visibility: visible;
        position: absolute;
        top: 35px;
        right: 0;
        width: 60px;
        height: 60px;
        background-color:#E9EAEC;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        z-index: 21;
    }
    .botaocor + label{
        visibility: visible;
        padding: 4px;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 40px;
        height: 40px;
    }

    .botaocoresbotoes,.botaocoresgola,.botaocorescarcela,.botaocoresvista,.botaocorespunho,.botaocorespeitilho1, .botaocorespeitilho2,.botaocoresfriso{
        visibility: hidden;
        position: absolute;
        top: 35px;
        right: 0;
        width: 60px;
        height: 60px;
        background-color:#E9EAEC;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        z-index: 21;
    }
    .botaocorbotoes + label,.botaocorgola + label,.botaocorcarcela + label,.botaocorvista + label,.botaocorpunho + label,.botaocorpeitilho1 + label,.botaocorpeitilho2 + label,.botaocorfriso + label{
        visibility: hidden;
        padding: 4px;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 40px;
        height: 40px;
        
    }
    .detalhes_camiseta{
        margin-top: 25px !important;
    }
    
}
